@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  background: #0e1322;
}

body {
  margin: 0;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
